div {
    background-color: #edf5ff;
}

.trans1 {
    width: 100px;
    height: 20px;
    background-color: indianred;
    transition-property: width;
    transition-duration: 2s;
    -webkit-transition: width 2s ease;
    -o-transition: width 2s ease;
    -moz-transition:width 2s ease;
}
.trans1:hover {
    width: 300px;
}
.trans2 {
    display: inline-block;
    padding: 1px 8px;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;

}
.trans2:hover {
    background-color: #484AAA;
    color:#fff;
}
.rotate_box {
    width: 500px;
    height: 900px;
    background-color: #edf5ff;
}
.polaroid {
    margin: 30px;
    width: 294px;
    padding:10px 10px 20px 10px;
    border:1px solid #BFBFBF;
    background-color: white;
    box-shadow:2px 2px 3px #aaaaaa;
}
div .rotate_left {
    float:left;
    -ms-transform:rotate(7deg); /* IE 9 */
    -webkit-transform:rotate(7deg); /* Safari and Chrome */
    transform:rotate(7deg);
}
div .rotate_right {
    float:left;
    transform: rotate(-8deg);
}
.trans_effect {
    border: 2px solid #3d80df;
    margin:90px 0 0 80px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #3d80df;
    padding: 30px 0 0 30px;
    color: white;
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -webkit-transition:all 2s ease-in-out;
}
.trans_effect:hover {
    background-color: #beceeb;
    color: #336699;
    transform: rotate(720deg) scale(-2,-2);
}
@keyframes boxmoving{
    0% { background-color: red ; margin: 0 0 0 0;}
    25% { background-color: yellow; margin:0 0 0 200px;}
    50% { background-color: green; margin:200px 0 0 200px; }
    100% { background-color: blue; margin:200px 0 0 0}
}
@-webkit-keyframes boxmoving{
    0% { background-color: red ; margin: 0 0 0 0 ; }
    25% { background-color: yellow; margin:0 0 0 200px;}
    50% { background-color: green; margin:200px 0 0 200px; }
    100% { background-color: blue; margin:200px 0 0 0}
}
.box_moving {
    height: 500px;
}
.box_move {
    width: 100px;
    height: 100px;
    border: 2px solid #edf5ff;
    background-color: red;
}
.box_move:hover {
    animation-name: boxmoving;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay:1s;
    -webkit-animation: boxmoving 5s 2;
}

.center {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}