div {
    background-color: #edf5ff;

}
.flextest {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#flex-1 {
    flex: 0 1 auto;
}
#flexx-2 {
    display:flex;
    flex: 0 1 auto;
}
.trans1 {
    width: 100px;
    height: 20px;
    background-color: indianred;
    transition-property: width;
    transition-duration: 2s;
    -webkit-transition: width 2s ease;
    -o-transition: width 2s ease;
    -moz-transition:width 2s ease;
}
.trans1:hover {
    width: 300px;
}
.trans2 {
    display: inline-block;
    padding: 1px 8px;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in;

}
.trans2:hover {
    background-color: #484AAA;
    color:#fff;
}
.rotate_box {
    width: 500px;
    height: 900px;
    background-color: #edf5ff;
}
.polaroid {
    margin: 30px;
    width: 294px;
    padding:10px 10px 20px 10px;
    border:1px solid #BFBFBF;
    background-color: white;
    box-shadow:2px 2px 3px #aaaaaa;
}
div .rotate_left {
    float:left;
    -ms-transform:rotate(7deg); /* IE 9 */
    -webkit-transform:rotate(7deg); /* Safari and Chrome */
    transform:rotate(7deg);
}
div .rotate_right {
    float:left;
    transform: rotate(-8deg);
}
.trans_effect {
    border: 2px solid #3d80df;
    margin:90px 0 0 80px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #3d80df;
    padding: 30px 0 0 30px;
    color: white;
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -webkit-transition:all 2s ease-in-out;
}
.trans_effect:hover {
    background-color: #beceeb;
    color: #336699;
    transform: rotate(720deg) scale(-2,-2);
}
@keyframes boxmoving{
    0% { background-color: red ; margin: 0 0 0 0;}
    25% { background-color: yellow; margin:0 0 0 200px;}
    50% { background-color: green; margin:200px 0 0 200px; }
    100% { background-color: blue; margin:200px 0 0 0}
}
@-webkit-keyframes boxmoving{
    0% { background-color: red ; margin: 0 0 0 0 ; }
    25% { background-color: yellow; margin:0 0 0 200px;}
    50% { background-color: green; margin:200px 0 0 200px; }
    100% { background-color: blue; margin:200px 0 0 0}
}
.box_moving {
    height: 500px;
}
.box_move {
    width: 100px;
    height: 100px;
    border: 2px solid #edf5ff;
    background-color: red;
}
.box_move:hover {
    animation-name: boxmoving;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay:1s;
    -webkit-animation: boxmoving 5s 2;
}

.center {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
}
.center:hover {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.yinyangshi {
    width: 70%;
    /*float:left;*/
}
#shenY{
    margin-left: 20%;
    position: relative;

}
#qingM {
    margin-left: -20%;
    position: relative;
}
@keyframes shenyuechange {
    0% { left: 0%; }
    100% {  left:50%; }
}
@keyframes qingmingchange {
    0% {  left: 0%; }
    100% {  left:-40% ;}
}
#shenY:hover {
    animation:shenyuechange 4s 2 ;
}
#qingM:hover {

    animation: qingmingchange 4s 2;
}
.btnimg {
    float: right;
    color: green;
    font-size: 6em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.box3D {
    height: 200px;
    width: 200px;
    background-color: #ffccff;
    perspective: 150px;
    perspective-origin: 10% 10%;
    -webkit-perspective: 150px; /* Safari and Chrome */
    -webkit-perspective-origin: 10% 10%; /* Safari and Chrome */
}
/*.father::after {*/
    /*content: '';*/
    /*width: 0;*/
    /*height: 0;*/
    /*clear: both;*/
/*}*/
/*.clear {*/
     /*clear: both;*/
 /*}*/
.stage {
    perspective: 800px;
}
.container {
    transform-style: preserve-3d;
    margin-left: 100px;
}
.container img {
    position: absolute;
    backface-visibility: hidden;
}
.shen {
    transform: rotateY(0deg) ;  translateZ(140px);
}
.qing {
    transform: rotateY(90deg) translateZ(140px);
}
.yuan {
    transform: rotateY(180deg) translateZ(140px);
}
.ba {
    transform: rotateY(270deg) translateZ(140px);
}