ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
}
.ls1 li {
  background: url(../img/price_tag.png) no-repeat 0 50%;
  padding-left: 25px;
  background-size: 15px;
}
#mainNav a {
  display: block;
  width: 200px;
  height: 39px;
  line-height: 39px;
  color: #000;
  text-decoration: none;
  text-indent: 50px;
  background: url(../img/pixy-rollover3.jpg) no-repeat left top;
  background-size: 200px;
}
#mainNav a:hover {
  background-position: right bottom;
  color: #fff;
}
#home #mainNav .home a,
#about #mainNav .about a,
#news #mainNav .news a,
#work #mainNav .work a,
#service #mainNav .service a,
#contact #mainNav .contact a {
  background-position: right bottom;
  color: #fff;
  cursor: default;
}
.ls3 {
  margin: 0;
  padding: 0;
  list-style-image: none;
  width: 800px;
  float: left;
  background: url(../img/pixy-rollover3.jpg) repeat-x;
  background-size: 800px;
}
.ls3 li {
  float: left;
  list-style-type: none;/*去掉小黑点*/
}
.ls3 li a {
  display: block;
  float: left;
  padding: 0 2em;
  line-height: 2.1em;
  text-decoration: none;
  color: #fff;
}
.ls3 a:hover {
  color: #333;
}
