.flex-box {
    display: flex;
    height: 200px;
    background: orange;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;

}
.flex-item {
    margin: 10px;
    width: 100px;
    /*height: 100px;*/
    background: purple;
    color: #edf5ff;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

}
.itemx {
    align-self: flex-start;
}