.colors {
  background: #ccc;
  color: #000;
  span {
    &:nth-of-type(1) {
      background-color: red;
    }
    &:nth-of-type(2) {
      background-color: orange;
    }
    &:nth-of-type(3) {
      background-color: yellow;
    }
    &:nth-of-type(4) {
      background-color: green;
    }
    &:nth-of-type(5) {
      background-color: #00afff;
    }
    &:nth-of-type(6) {
      background-color: blue;
    }
    &:nth-of-type(7) {
      background-color: purple;
    }
  }
}