h1 {
    background-color: #336699;
    color: #edf5ff;
    padding-left: 30px;
}
/*div {*/
    /*background-color: #edf5ff;*/
/*}*/
.flexBox {
    flex-direction: row;
}
.textClass {
    height: 100px;
    background-color: #ffccff;
    font-size: 30px ;
}
.titleCenter {
    position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    /*transform: translate(-50%,-50%);*/
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.borders {
    border: 10px solid #beceeb;
}