.loading-ul {
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background: #263238;
}
.part {
    position: relative;
    height: 360px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin: 10px;
    background: #eeeeee;
    overflow: hidden;
    border: 1px solid #c0c0c0;
}
.part:nth-of-type(2n) {
    background: #4ea980;
}
.circle {
    width: 100px;
    height:100px;
    border-radius: 50%;
    margin:0;
    padding:0;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loading1 {
    /*border: 10px solid dodgerblue;*/
    /*border-left: 10px solid dodgerblue;*/
    /*border-right: 10px solid lightgreen;*/
    border-top: 10px solid greenyellow;
    border-bottom: 10px solid palevioletred;
    animation: loading1 200ms infinite;
}
@keyframes loading1 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform:rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform:rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading2 {
    position:relative;
    /*border:10px solid white;*/
    box-shadow: inset 0 0 0 10px #FFF;

}
.loading2:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background: #4ea980;

    border-radius:0 100px 100px 0;
    left: 50px;

    transform-origin: 0 50px;
    animation: circle 1.5s infinite linear;
}
.loading2:after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left:0;
    box-shadow: inset 0 0 0 10px rgba(255,255,255,.2);
}
@keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform : rotate(360deg);
    }
}
.loading3 {
    position: relative;
    width:100px;
    height: 100px;
    background:linear-gradient(to right, #4ea980 10%, rgba(78,169,128,0) 100%);
    /*box-shadow: inset 0 0 0 10px rgba(78,169,128,.2);*/
    animation: circle 1s infinite linear;
}
.quarter {
    position: absolute;
    width: 50%;
    height: 50%;
    background: white;
    border-radius: 0 100% 0 0;
    top: 0;
    left: 50%;
}
.loading3:before {
    position: absolute;
    content:'';
    width: 50%;
    height: 50%;
    background: #4ea980;
    border-radius:100% 0 0 0 ;
    top: 0;
    left:0;
}
.loading3:after {
    background: white;
    width: 80px;
    height: 80px;
    content: '';
    border-radius: 50%;
    position:absolute;
    top: 10px;
    left: 10px;
}
.loading4 {
    font-size: 20px;
    height: 1rem;
    width: 1rem;
    position: relative;
    animation: loading-sharing1 1s infinite linear;

}
@keyframes loading-sharing1 {
    /* box-shadow: 左移 下移 模糊距离 外扩 颜色*/
    0% {
        box-shadow: -3rem 2rem 0 0.5rem #FFF, 0 2rem 0 0 #FFF, 3rem 2rem 0 -0.5rem #FFF;
    }
    25%  {
        box-shadow: -3rem 2rem 0 0 #FFF, 0 2rem 0 -0.5rem #FFF, 3rem 2rem 0 0 #FFF;
    }
    50% {
        box-shadow: -3rem 2rem 0 -0.5rem #FFF, 0 2rem 0 0 #FFF, 3rem 2rem 0 0.5rem #FFF;
    }
    75% , 100%{
        box-shadow: -3rem 2rem 0 0 #FFF, 0 2rem 0 0.5rem #FFF, 3rem 2rem 0 0 #FFF;
    }
    100%{
    box-shadow: -3rem 2rem 0 0.5rem #FFF, 0 2rem 0 0 #FFF, 3rem 2rem 0 -0.5rem #FFF;
    }
}

.loading5 {
    font-size: 20px;
    width: 1rem;
    height: 1rem;
    position: relative;
    animation: loading-sharing2 1s infinite linear;

}
@keyframes loading-sharing2 {
    0% {
        box-shadow: -2rem -2rem 0 0 #4ea980,
        0 -2.8rem 0 0.2rem #4ea980,
        2rem -2rem 0 0 #4ea980,
        2.8rem 0 0 -0.5rem #4ea980,
        2rem 2rem 0 -0.5rem #4ea980,
        0 2.8rem 0 -0.5rem #4ea980,
        -2rem 2rem 0 -0.5rem #4ea980,
        -2.8rem 0 0 -0.5rem #4ea980;
    }
    12.5% {
        box-shadow: -2rem -2rem 0 -0.5rem #4ea980,
        0 -2.8rem 0 0 #4ea980,
        2rem -2rem 0 0.2rem #4ea980,
        2.8rem 0 0 0 #4ea980,
        2rem 2rem 0 -0.5rem #4ea980,
        0 2.8rem 0 -0.5rem #4ea980,
        -2rem 2rem 0 -0.5rem #4ea980,
        -2.8rem 0 0 -0.5rem #4ea980;
    }
    25% {
         box-shadow: -2rem -2rem 0 -0.5rem #4ea980,
         0 -2.8rem 0 -0.5rem #4ea980,
         2rem -2rem 0 0 #4ea980,
         2.8rem 0 0 0.2rem #4ea980,
         2rem 2rem 0 0 #4ea980,
         0 2.8rem 0 -0.5rem #4ea980,
         -2rem 2rem 0 -0.5rem #4ea980,
         -2.8rem 0 0 -0.5rem #4ea980;
     }
    37.5% {
        box-shadow: -2rem -2rem 0 -0.5rem #4ea980,
        0 -2.8rem 0 -0.5rem #4ea980,
        2rem -2rem 0 -0.5rem #4ea980,
        2.8rem 0 0 0 #4ea980,
        2rem 2rem 0 0.2rem #4ea980,
        0 2.8rem 0 0 #4ea980,
        -2rem 2rem 0 -0.5rem #4ea980,
        -2.8rem 0 0 -0.5rem #4ea980;
    }
    50% {
        box-shadow: -2rem -2rem 0 -0.5rem #4ea980,
        0 -2.8rem 0 -0.5rem #4ea980,
        2rem -2rem 0 -0.5rem #4ea980,
        2.8rem 0 0 -0.5rem #4ea980,
        2rem 2rem 0 0 #4ea980,
        0 2.8rem 0 0.2rem #4ea980,
        -2rem 2rem 0 0 #4ea980,
        -2.8rem 0 0 -0.5rem #4ea980;
    }
    62.5% {
        box-shadow: -2rem -2rem 0 -0.5rem #4ea980,
        0 -2.8rem 0 -0.5rem #4ea980,
        2rem -2rem 0 -0.5rem #4ea980,
        2.8rem 0 0 -0.5rem #4ea980,
        2rem 2rem 0 -0.5rem #4ea980,
        0 2.8rem 0 0 #4ea980,
        -2rem 2rem 0 0.2rem #4ea980,
        -2.8rem 0 0 0 #4ea980;
    }
    75% {
        box-shadow: -2rem -2rem 0 0 #4ea980,
        0 -2.8rem 0 -0.5rem #4ea980,
        2rem -2rem 0 -0.5rem #4ea980,
        2.8rem 0 0 -0.5rem #4ea980,
        2rem 2rem 0 -0.5rem #4ea980,
        0 2.8rem 0 -0.5rem #4ea980,
        -2rem 2rem 0 0 #4ea980,
        -2.8rem 0 0 0.2rem #4ea980;
    }
    87.5% {
        box-shadow: -2rem -2rem 0 0.2rem #4ea980,
        0 -2.8rem 0 0 #4ea980,
        2rem -2rem 0 -0.5rem #4ea980,
        2.8rem 0 0 -0.5rem #4ea980,
        2rem 2rem 0 -0.5rem #4ea980,
        0 2.8rem 0 -0.5rem #4ea980,
        -2rem 2rem 0 -0.5rem #4ea980,
        -2.8rem 0 0 0 #4ea980;
    }
    100% {
        box-shadow: -2rem -2rem 0 0 #4ea980,
        0 -2.8rem 0 0.2rem #4ea980,
        2rem -2rem 0 0 #4ea980,
        2.8rem 0 0 -0.5rem #4ea980,
        2rem 2rem 0 -0.5rem #4ea980,
        0 2.8rem 0 -0.5rem #4ea980,
        -2rem 2rem 0 -0.5rem #4ea980,
        -2.8rem 0 0 -0.5rem #4ea980;
    }

}
.loading6 {
    font-size: 20px;
    width:1rem;
    height: 1rem;
    position: relative;

    animation: loading-sharing6 1s infinite linear;
}
@keyframes loading-sharing6 {
    0% {
        box-shadow: 0 0 0 0.2rem #fff;
    }
    100% {
        box-shadow: 0 0 0.2rem 0.1rem  #fff,
        0 -2.8rem 0 -0.2rem #ffffff,
        2rem -2rem 0 -0.2rem #fff,
        2.8rem 0 0 -0.2rem #ffffff,
        2rem 2rem 0 -0.2rem #ffffff,
        0 2.8rem 0 -0.2rem #ffffff,
        -2rem 2rem 0 -0.2rem #ffffff,
        -2.8rem 0 0 -0.2rem #ffffff,
        -2rem -2rem 0 -0.2rem #ffffff;
    }

}
.loading7 {
    box-shadow: 0 0 0 4px #4cbdc0 inset;
}
.loading7:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 0 100px 100px 0;
    background: #fff;
    left: 50%;

    transform-origin: 0 50px;
    animation: circle 1s infinite linear;
}
.loading7::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #c0c0c0 inset;
    opacity: 0.3;
}


.loading7-inner {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #95c03f inset;
}
.loading7-inner::before{
    position: absolute;
    content: '';
    width: 40px;
    height:80px;
    right: 50%;
    border-radius: 100px 0 0 100px;
    background: #fff;
    transform-origin: 40px 40px;
    animation: circle 2s infinite linear;
}
.loading7-inner::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px #c0c0c0 inset;
    opacity: 0.3;
    border-radius: 50%;
}
.loading8-outer {
    position: absolute;
    box-sizing: border-box;
    border: 3px solid #e34981;
    border-top-color: transparent;
    border-bottom-color: transparent;
    transform-origin: 50px 50px;
    animation: circle 2s linear reverse infinite;
}
.loading8-inner {
    position: absolute;
    box-sizing: border-box;
    width: 85px;
    height: 85px;
    border: 3px solid #e34981;
    border-right-color: transparent;
    border-left-color: transparent;
    animation: circle 2s linear infinite;
}
.loading8-center {
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 3px solid #e34981;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: circle 1s linear infinite;
}
.loading8-circle {
    width: 20px;
    height: 20px;
    font-size: 35px;
    animation: loading8-sharing8 1s ease infinite;
}
@keyframes loading8-sharing8 {
    0% {
        box-shadow: 0 -2em 0 0 #e34981, 1em -1.7em 0 0 #e34981, 1.7em -1em 0 0 #e34981,
        2em 0 0 0 #e34981, 1.7em 1em 0 0 #e34981, 1em 1.7em 0 0 #e34981,
        0 2em 0 0 #e34981, -1em 1.7em 0 0 #e34981, -1.7em 1em 0 0 #e34981,
        -2em 0 0 0 #e34981, -1.7em -1em 0 0 #e34981, -1em -1.7em 0 0 #e34981;
    }
    50% {
        box-shadow: 0 -2em 0 -0.5em #e34981, 1em -1.7em 0 -0.5em #e34981, 1.7em -1em 0 -0.5em #e34981,
        2em 0 0 -0.5em #e34981, 1.7em 1em 0 -0.5em #e34981, 1em 1.7em 0 -0.5em #e34981,
        0 2em 0 -0.5em #e34981, -1em 1.7em 0 -0.5em #e34981, -1.7em 1em 0 -0.5em #e34981,
        -2em 0 0 -0.5em #e34981, -1.7em -1em 0 -0.5em #e34981, -1em -1.7em 0 -0.5em #e34981;
    }
    100% {
        box-shadow: 0 -2em 0 0 #e34981, 1em -1.7em 0 0 #e34981, 1.7em -1em 0 0 #e34981,
        2em 0 0 0 #e34981, 1.7em 1em 0 0 #e34981, 1em 1.7em 0 0 #e34981,
        0 2em 0 0 #e34981, -1em 1.7em 0 0 #e34981, -1.7em 1em 0 0 #e34981,
        -2em 0 0 0 #e34981, -1.7em -1em 0 0 #e34981, -1em -1.7em 0 0 #e34981;
    }
}
.part.loading9 {
    background: #1b1e24;
}

.page-content {
    background: #1b1e24;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details  {
    position:absolute;
    z-index: 1;
    width: 110px;
    height: 110px;
    background: url('../../img/interesting/border-img.png') no-repeat center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loading9 1s infinite;
}
.base {
    width:100px;
    height:100px;
    overflow:hidden;
}
.base > img {
    width:100px;
    height:100px;
}
@keyframes loading9 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    }

}